---
layout: page
title: Blog
feature-img: assets/img/pexels/eyesight_Iris.jpg
---

<div class=coll2>
<h2>Scientific Posts</h2>
<ul>
  {% for post in site.posts %}
  {% unless post.categories contains 'personal writing' %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3> {{ post.date | date_to_string }} - {{ post.author }} 
      <p> {{ post.excerpt | strip_html | truncatewords:10 }} </p>
      <!-- <p>{{ post.excerpt }}</p> -->
    </li>
  {% endunless %}
  {% endfor %}
</ul>
</div>

<div class=coll2>
<h2>Personal Writings</h2>
<ul>
  {% for post in site.posts %}
  	{% if post.categories contains 'personal writing' %}
        <li>
	      <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3> {{ post.date | date_to_string }} - {{ post.author }} 
        <p> {{ post.excerpt | strip_html | truncatewords:10 }} </p>
	      <!-- <p>{{ post.excerpt }}</p> -->
	    </li>
    {% endif %}   <!-- cat-match-p -->
  {% endfor %}
</ul>
</div>

<style>
.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}
</style>
<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}
.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}
.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}
.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}
/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>