---
layout: page
title: Blog
feature-img: assets/img/pexels/eyesight_Iris.jpg
---

<div class=coll2>
<h2>Scientific Posts</h2>
<ul>
  {% for post in site.posts %}
  {% unless post.categories contains 'personal writing' %}
     <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3> 
      <b><i> {{ post.date | date_to_string }} </i></b> <!-- - {{ post.author }}  -->
      <p> {{ post.excerpt | strip_html | truncate:150 }} </p>
      {% include tags_list_post.html tags=post.tags %}
  {% endunless %}
  {% endfor %}
</ul>
</div>

<div class=coll2>
<h2>Personal Writings</h2>
<ul>
  {% for post in site.posts %}
  	{% if post.categories contains 'personal writing' %}
        
	      <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3> 
          <b><i> {{ post.date | date_to_string }} </i></b> <!-- - {{ post.author }}  -->
          <p> {{ post.excerpt | strip_html | truncate:150 }} </p>
          {% include tags_list_post.html tags=post.tags %}
	    
    {% endif %}   <!-- cat-match-p -->
  {% endfor %}
</ul>
</div>

<style>
.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}
</style>
<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}
.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}
.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}
.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}
/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>