---
layout: page
title: Technical Notes
permalink: /tech_note/
feature-img: assets/img/pexels/eyesight_Iris.jpg
---

<h1>Latest</h1>
<ul>
  {% assign sorted_notes = site.tech_note | sort:"date" | reverse %}
  {% for post in sorted_notes %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a> </h3> 
      <b><i> {{ post.date | date: "%B %-d, %Y" }} </i></b> <!-- - {{ post.author }}  -->
      {% include tags_list_post.html tags=post.tags %}
    </li>
  {% endfor %}
</ul>

<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}
.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}
.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}
.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}
/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>