---
layout: page
title: Technical
permalink: /tech_note/
feature-img: assets/img/pexels/eyesight_Iris.jpg
---

<!-- <h1>Latest</h1> -->
{% for cat in site.tech-cat-list %}
{% unless cat == 'personal writing' %}
<div class=coll2>
<h3> {{ cat }} </h3>
<ul>
  {% for page in site.tech_note %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li> {{ post.date | date_to_string }}
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
  {% endfor %}  <!-- page -->
</ul>
</div>
{% endunless %}
{% endfor %}  <!-- cat -->

<style>
    .coll2 {
        float: left;
        width: 48%;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 800px) { 
    .coll2 {
        float: left;
        width: 100%;
        padding-bottom: 50px;
    }
    }
    /* Clear floats after the columns */
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }
</style>