<!DOCTYPE html>
{% if page.use_math %}
      {% include mathjax_support %}
{% endif %}
<html>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125498144-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125498144-1');
</script>

  {% include head.html %}
  
  <body>
    {% include navbar.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
